:root {
  --color-default: #3b3a38;
  --color-highlight: #ff0075;
  --color-strong: #000;
  --color-subtle: #93918f;
  --color-subtler: #c9c5c1;

  --font-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  --line-height: 1.5;
  --width-max: 55ch;

  --spacing-s: calc(0.5 * var(--spacing));
  --spacing: calc(1rem * var(--line-height));
  --spacing-l: calc(2 * var(--spacing));
  --spacing-xl: calc(4 * var(--spacing));
  --spacing-xxl: calc(6 * var(--spacing));
}

html {
  box-sizing: border-box;
  color: var(--color-default);
  font-family: var(--font-default);
  font-size: 100%;
  line-height: var(--line-height);
  padding: var(--spacing);
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  margin: 3vw 0;
}

body > header,
body > main {
  margin: 0 auto;
  max-width: var(--width-max);
}

body > header {
  color: var(--color-subtle);
  margin-bottom: var(--spacing-xl);
}

body > header * {
  font-weight: 500;
}

body > main h2 {
  margin: var(--spacing-l) 0 var(--spacing);
}

body > main p + p {
  margin-top: var(--spacing);
}

a {
  color: var(--color-strong);
  text-decoration-color: var(--color-highlight);
  text-decoration-thickness: 0.1em;
  transition: color 0.2s ease-in-out;
}

@supports (text-underline-offset: 2px) {
  a {
    text-underline-offset: 2px;
  }
}

a:visited {
  text-decoration-color: #000;
}

a:hover {
  color: var(--color-highlight);
}

a:active {
  color: var(--color-highlight);
  text-decoration-color: var(--color-highlight);
}

header a,
.naked-link {
  text-decoration: none;
}

address {
  font-style: normal;
}

blockquote {
  border-left: 4px solid #ccc;
  font-style: italic;
  padding-left: 1rem;
}

blockquote * + * {
  margin-top: var(--spacing);
}

h1,
h2,
h3 {
  color: var(--color-strong);
  font-size: 1rem;
  font-weight: 500;
}

hr {
  border: none;
  border-top: 1px dashed var(--color-subtler);
}

img {
  display: block;
}

p img {
  max-width: 100%;
}

address dl {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: var(--spacing-l);
  row-gap: var(--spacing-s);
}

address dt {
  color: var(--color-subtle);
}

article {
  display: grid;
  grid-template-columns: [full-start] 3fr [wide-start] 1fr [main-start] minmax(auto, var(--width-max)) [main-end] 1fr [wide-end] 3fr [full-end];
  row-gap: var(--spacing);
  position: relative;
}

article + article {
  margin-top: calc(1px + var(--spacing-xxl));
}

article + article::before {
  background-color: var(--color-subtler);
  content: '';
  display: block;
  grid-column: main;
  position: absolute;
  top: calc(-0.5 * var(--spacing-xxl) - 1px);
  height: 1px;
  width: 100%;
}

article header {
  grid-column: main;
}

.article header {
  margin-bottom: var(--spacing);
}

article header time {
  color: var(--color-subtle);
}

article > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  list-style: none;
  padding: 0;
}

article > ul img {
  background: #ccc;
  border-radius: 5px;
  width: 100%;
  height: auto;
}

article > ul li {
  flex: 1 1 auto;
}

article > ul li:nth-child(6n+1),
article > ul li:nth-child(6n+2) {
  flex-basis: calc(50% - 0.5vw - 1px);
}

article > ul li:nth-child(6n+3),
article > ul li:nth-child(6n+4),
article > ul li:nth-child(6n+5) {
  flex-basis: calc(33% - 0.667vw - 2px);
}

.blog-item-content {
  display: contents;
}

.blog-item-content > * {
  grid-column: main;
}

.blog-item-content > pre {
  grid-column: wide;
  overflow-x: scroll;
}

article > ul {
  grid-column: wide;
}
