:root {
  --color-bg: #f8f8f8;
  --color-fg: #666;
  --color-link: #113CFC;
  --color-link-2: #113CFC;
  --ratio: 1.7;
}

html {
  background-color: var(--color-bg);
  box-sizing: border-box;
  color: var(--color-fg);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 100%;
  line-height: var(--ratio);
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: #000;
  text-decoration-color: #FF0075;
  text-decoration-thickness: .1em;
  transition: color .2s ease-in-out;
}

@supports (text-underline-offset: 2px) {
  a {
    text-underline-offset: 2px;
  }
}

a:visited {
  text-decoration-color: #000;
}

a:hover {
  color: #FF0075;
}

a:active {
  color: #FF0075;
  text-decoration-color: #FF0075;
}

body {
  margin: 0;
  padding: 0 0 5rem 0;
}

body > h1 {
  padding-left: 1rem;
}

blockquote {
  border-left: 4px solid #ccc;
  font-style: italic;
  padding-left: 1rem;
}

img {
  display: block;
}

main {
  margin: 0 auto;
  max-width: 55ch;
  padding: 0 1rem;
}

p img {
  max-width: 100%;
}

article {
  display: grid;
  grid-template-columns: [full-start] minmax(1rem, 2fr) [wide-start] 1fr [main-start] minmax(auto, 55ch) [main-end] 1fr [wide-end] minmax(1rem, 2fr) [full-end];
  row-gap: calc(1rem * var(--ratio));
  position: relative;
}

article + article {
  margin-top: calc(8em + 1px);
}

article + article::before {
  background-color: #ddd;
  content: '';
  display: block;
  position: absolute;
  left: calc(50% - 27.5ch);
  top: calc(-4em - 1px);
  height: 1px;
  width: 55ch;
}

article * {
  margin: 0;
}

article footer {
  display: flex;
  font-size: .8em;
  grid-column: main;
  justify-content: space-between;
}

article footer a {
  color: #bbb;
  text-decoration: none;
}

article footer time {
  text-transform: uppercase;
}

article footer ul {
  color: #bbb;
  display: flex;
  flex-wrap: wrap;
  font-family: monospace;
  gap: 1em;
  list-style: none;
  padding: 0;
}

article > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  list-style: none;
  padding: 0;
}

article > ul img {
  background: #ccc;
  border-radius: 5px;
  width: 100%;
  height: auto;
}

article > ul li {
  flex: 1 1 auto;
}

article > ul li:nth-child(6n+1),
article > ul li:nth-child(6n+2) {
  flex-basis: calc(50% - .5vw - 1px);
}

article > ul li:nth-child(6n+3),
article > ul li:nth-child(6n+4),
article > ul li:nth-child(6n+5) {
  flex-basis: calc(33% - .667vw - 2px);
}

.blog-item-content {
  display: contents;
}

.blog-item-content > * {
  grid-column: main;
}

.blog-item-content > pre {
  grid-column: wide;
  overflow-x: scroll;
}

article > ul {
  grid-column: wide;
}
