nav {
  margin-top: var(--g1);
  padding: 0 1rem;
}

nav a {
  font-weight: bold;
  text-decoration: none;
}

q {
  font-style: italic;
}

q:before,
q:after {
  font-style: normal;
}

p small {
  color: #999;
  font-size: inherit;
}

article ol,
article ul {
  padding-left: 1rem;
}

article li + li {
  margin-top: 0;
}

article {
  display: grid;
  grid-template-columns: [full-start] 1rem [full-content-start marginalia-start] repeat(2, 1fr) [marginalia-end main-content-start] repeat(4, 1fr) [main-content-end outdent-start] repeat(2, 1fr) [outdent-end full-content-end] minmax(1rem, calc(100vw - 72rem)) [full-end];
  margin: calc(var(--g2) + 4vw) auto;
}

ol ::marker {
  color: var(--color1);
  font-weight: bold;
}

pre {
  font-size: var(--s-1);
  grid-column: full-content;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 1rem;
}

article header {
  grid-column: full-content;
  margin-bottom: var(--g1);
}

article h1 {
  font-size: var(--s4);
  line-height: 1.25;
}

article h2 {
  font-size: var(--s2);
  margin-top: var(--g2);
}

article h3 {
  font-size: var(--s0);
  margin-top: var(--g1);
}

article p,
article ol,
article ul {
  max-width: 55ch;
}

article img {
  display: block;
  width: 100%;
}

abbr {
  border-bottom: 1px dotted;
  cursor: help;
  text-decoration: none;
}

blockquote {
  font-style: italic;
}

cite {
  font-style: normal;
}

code:not([class]) {
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: .2em;
  font-size: var(--s-1);
  padding: .1em .25em .15em;
  vertical-align: middle;
  word-wrap: break-word;
}

figure {
  display: contents;
}

figure img {
  grid-column: full-content;
  margin-top: var(--g1);
}

img[src*="#splash"] {
  grid-column: full;
}

figcaption {
  grid-column: full-content;

  color: #666;
  font-size: var(--s-1);
  margin-top: var(--g1);
  padding: 0 var(--g1);
  text-align: center;
}

.article-content {
  display: contents;
}

.article-content > * {
  grid-column: full-content;
}

.article-meta {
  grid-column: full-content;
  grid-row: 1;
  margin: 0;
}

.article-meta time {
  line-height: calc(var(--ratio) * var(--scale) * var(--scale) * var(--scale) * var(--scale));
}

.article-updated {
  display: none;
}

.gallery {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: calc(var(--g1) / 2);
}

.gallery > * {
  flex: 0 0 7rem;
  margin: calc(var(--g1) / 2);
}

hr {
  background: var(--color1);
  border: 0;
  border-radius: 50%;
  margin: var(--g2) auto var(--g1);
  width: .4em;
  height: .4em;
}

img {
  max-width: 100%;
}

summary {
  cursor: pointer;
}

svg {
  display: block;
}

article  svg {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}

.demo {
  all: initial;
  display: block;
}

pre {
  overflow: auto;
}

@media (min-width: 45em) {
  article {
    column-gap: var(--g1);
  }

  nav {
    padding: 0 calc(1rem + var(--g1));
  }
}

@media (min-width: 65em) {
  article header {
    grid-column: main-content / full-content-end;
    margin-bottom: var(--g2);
  }

  article p {
    max-width: initial;
  }
  
  .article-content > * {
    grid-column: main-content;
  }

  .article-meta {
    grid-column: marginalia;
    text-align: right;
  }

  figure img {
    grid-column: main-content;
  }

  figcaption {
    grid-column: main-content;
  }

  img:not([src*="#splash"]) + figcaption {
    grid-column: outdent;
    padding: 0;
    text-align: left;
  }

  pre {
    grid-column: main-content-start / full-content-end;
  }
}

@media (min-width: 84em) {
  .article-updated {
    display: initial;
  }
}

/* Code Highlighting */

code[class*="language-"],
pre[class*="language-"] {
	color: #ccc;
	background: none;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	tab-size: 4;
	hyphens: none;
}

code[class*="language-"] {
	display: block;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #2d2d2d;
}

:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999;
}

.token.punctuation {
	color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
	color: #e2777a;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
	color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
	color: #67cdcc;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}
