html {
  box-sizing: border-box;
  color: #333;
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 125%;
  line-height: 1.6;
}

* {
	box-sizing: inherit;
  color: inherit;
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}

* + * {
  margin-top: 32px;
}

body {
  color: #4C4C4C;
  display: flex;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  margin-top: 0;
}

b {
  font-weight: 500;
}

sup {
  color: #FFE632;
  vertical-align: baseline;
  position: relative;
  top: -.3em;
}

main {
  margin: 0 auto;
  max-width: 540px;
  padding: 16px;
}

p {
  font-weight: 300;
}

p a {
  box-shadow: inset 0 -8px 0 #FFF585;
  font-weight: 500;
}
p a:hover {
  background-color: #FFF585;
}

.elsewhere {
  border-top: 1px solid #E5E5E5;
  display: flex;
  justify-content: flex-end;
  padding-top: 32px;
}

.elsewhere a {
  display: block;
  line-height: .8;
}

.elsewhere a + a {
  margin: 0 0 0 16px;
}

svg {
  display: inline-block;
  vertical-align: top;
  width: 16px;
}

a:hover svg {
  background-color: #FFF585;
}
