html {
  box-sizing: border-box;
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

* {
	box-sizing: inherit;
  color: inherit;
  font-family: inherit;
  line-height: inherit;
  margin: 0;
}

* + * {
  margin-top: 24px;
}

body, li {
  margin-top: 0;
}

main {
  margin: 0 auto;
  max-width: 1080px;
  padding: 24px;
}

main > p:first-child {
  font-size: 20px;
  font-weight: 300;
}

a {
  border-bottom: 1px dotted #FA5072;
  padding: 0 .1em;
  position: relative;
  text-decoration: none;
  transition: border-color 250ms;
}
a::before{
  content: "";
  width: 100%;
  height: 0%;
  background: #FF9DBF;
  bottom: 0;
  left: 0;
  position: absolute;
  transition: height 250ms;
  z-index: -1;
}
a:hover {
  border-color: transparent;
}
a:hover::before {
  height: 100%;
}

ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 192px;
  grid-gap: 24px;
  list-style: none;
  margin-top: 72px;
  padding: 0;
}

li {
  align-items: flex-end;
  display: flex;
}

li a {
  background: rgba(0, 0, 0, .5);
  border: none;
  color: #fff;
  flex: 1 1 auto;
  padding: 12px;
}

li a:hover {
  color: #FF9DBF;
}

@media (min-width: 500px) {
  main {
    padding: 48px;
  }
  ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 780px) {
  main {
    padding: 72px;
  }
  ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
