html {
  box-sizing: border-box;
  font-family: georgia, serif;
  line-height: 1.5;
}

* + * {
  margin-top: 1.5em;
}

body {
  margin: 0 auto;
  max-width: 38em;
  padding: 3em 1.5em 4.5em;
}

h1, h2 {
  font-family: -apple-system, sans-serif;
}

h1 {
  font-size: 2em;
  margin: 0;
}

h2 {
  font-size: 1em;
}

abbr {
  cursor: help;
  text-decoration: none;
}

li {
  margin: 0;
}

blockquote p:nth-last-child(n+2) {
  font-style: italic;
}

pre {
  line-height: 1.847;
}

svg {
  display: block;
}

img {
  max-width: 100%;
}
