rss {
  font-family: monospace;
  margin: 1em auto;
  max-width: 80ch;
  padding: 0 1em;
}
channel > title {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}
channel > link {
  display: block;
}
channel > description {
  display: block;
  font-style: italic;
  margin: 1em 0;
}
channel > lastBuildDate {
  color: orange;
  display: block;
}
channel > lastBuildDate::before {
  color: #000;
  content: 'Last build: ';
}
channel > language {
  display: none;
}
item {
  display: block;
  margin: 1em 0;
  overflow: scroll;
}
item > title {
  display: block;
  font-weight: bold;
}
channel > image,
item > link,
item > guid,
item > author,
item > description {
  display: none;
}
item > pubDate {
  color: #999;
  display: block;
}
