nav {
  margin-top: var(--g1);
  text-align: center;
}

nav a {
  background: #ebebeb;
  border-radius: .1875rem;
  color: #555;
  display: inline-block;
  font-family: sans-serif;
  font-size: var(--s-1);
  line-height: 2.5;
  margin: 0 auto;
  padding: .1em 1em 0;
  text-decoration: none;
}

nav a:hover {
  background: #dfdfdf;
  color: #222;
}

q {
  font-style: italic;
}

q:before,
q:after {
  font-style: normal;
}

p small {
  color: #999;
  font-size: inherit;
}

article ol,
article ul {
  counter-reset: ol-counter;
  list-style: none;
  overflow: hidden;
  padding-left: var(--g1);
}

article {
  counter-reset: sidenote;
  display: grid;
  grid-template-columns: [full-start] 1fr [wide-start] var(--margin) [main-start] minmax(0, 32rem) [main-end] var(--margin) 1fr [wide-end] 1fr [full-end];
  margin: calc(var(--g2) + 4vw) auto;
}

article > * {
  grid-column: main;
  position: relative;
}

pre,
.splash {
  grid-column: wide;
}

article header {
  margin-bottom: var(--g1);
}

article h1 {
  font-size: var(--s4);
  font-weight: normal;
  line-height: 1.25;
}

article h2,
article h3 {
  font-family: sans-serif;
}

article h2 {
  font-size: var(--s0);
  margin-top: var(--g2);
}

article h3 {
  font-size: var(--s1);
  margin-top: var(--g1);
}

article h2:after,
article h3:after {
  color: #ccc;
  content: ' #';
  opacity: 0;
  transition: opacity .5s;
}

article h2:hover:after,
article h3:hover:after {
  opacity: 1;
}

article img {
  display: block;
  width: 100%;
}

article li {
  position: relative;
}

article ol li::before {
  content: counter(ol-counter);
  counter-increment: ol-counter;
  display: block;
  font-weight: bold;
  position: absolute;
  top: -.05em;
  left: calc(-.75 * var(--g1));
}

article ul li::before {
  content: '\2726';
  display: block;
  font-size: var(--s-1);
  position: absolute;
  top: .2em;
  left: -1.5em;
}

article ul ul li::before {
  content: '\2727';
}

abbr {
  border-bottom: 1px dotted;
  cursor: help;
  text-decoration: none;
}

blockquote {
  border-left: 3px solid var(--color2);
  font-style: italic;
  grid-column: 2 / main-end;
  padding-left: calc(var(--margin) - 3px);
}

cite {
  font-style: normal;
}

code:not([class]) {
  background: #fafafa;
  border: 1px solid #ccc;
  border-radius: .2em;
  font-size: var(--s-1);
  padding: .1em .25em .15em;
  vertical-align: middle;
  word-wrap: break-word;
}

figure[role="group"] {
  background: #fafafa;
  border: 1px dashed currentColor;
  padding: calc(.5 * var(--g1));
}

figcaption {
  color: #666;
  font-size: var(--s-1);
  margin-top: var(--g1);
  padding: 0 var(--g1);
  text-align: center;
}

.gallery {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: calc(var(--g1) / 2);
}

.gallery > * {
  flex: 0 0 7rem;
  margin: calc(var(--g1) / 2);
}

hr {
  background: var(--color2);
  border: 0;
  border-radius: 50%;
  margin: var(--g2) auto var(--g1);
  width: .3em;
  height: .3em;
}

img {
  max-width: 100%;
}

pre {
  font-size: var(--s-1);
  padding: calc(.5 * var(--g1) + 1vw);
}

summary {
  cursor: pointer;
}

svg {
  display: block;
}

article  svg {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}

.demo {
  all: initial;
  display: block;
}

pre,
.MJXc-display {
  overflow: auto;
}

.mjpage * + * {
  margin-top: 0;
}

.MJXc-TeX-math-I {
  padding: 0 !important;
}

.sidenote {
  counter-increment: sidenote;
}

.sidenote input {
  display: none;
}

.sidenote input:checked ~ small {
  display: block;
}

.sidenote label {
  cursor: pointer;
}

.sidenote label:after {
  content: counter(sidenote);
  font-size: var(--s-1);
  position: relative;
  top: -.7em;
  left: .05em;
}

.sidenote:hover label:after {
  color: var(--color2);
}

.sidenote small {
  color: #999;
  font-size: var(--s-1);
  display: none;
  margin: var(--g1);
}

.sidenote small a {
  background: none;
  font-weight: normal;
}

.grammar .cmtt10 {
  fill: var(--color2);
}
.grammar .MJXc-TeX-type-R {
  color: var(--color2);
}

@media (min-width: 80rem) {
  :root {
    --fr: calc((100vw - 2 * var(--margin) - 32rem) / 3);
  }

  nav {
    margin: 0;
    position: fixed;
    top: var(--g1);
    left: var(--g1);
  }

  figure:not(.splash) figcaption {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: calc(-1 * var(--margin) - var(--fr));
    text-align: left;
    width: calc(var(--fr) - var(--g2));
  }

  .sidenote:hover small:before {
    color: var(--color2);
  }

  .sidenote label {
    cursor: default;
  }

  .sidenote small:before {
    content: counter(sidenote);
    padding-right: .25em;
    position: relative;
    top: -.3em;
  }

  .sidenote small {
    display: block;
    margin: calc(var(--g1) / -2 - var(--s-2) * var(--ratio) / 2) 0 0 0;
    position: absolute;
    right: calc(-1 * var(--margin) - var(--fr));
    width: calc(var(--fr) - var(--g2));
  }
}
