* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  color: hsl(0, 0%, 20%);
  font-family: -apple-system, sans-serif;
  font-size: calc(100% + .3vw);
  line-height: 1.6;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

* + * {
  margin-top: 1.6em;
}

body, article li {
  margin-top: 0;
}

body > * {
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
}

main ul {
  padding: 0;
}

a {
  background-image: linear-gradient(to top, #b0deff, #b0deff);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% .4em;
  color: #000;
  text-decoration: none;
}

header a {
  background: none;
}

header h1 a,
header nav a {
  color: #ffc5a1;
}

article,
main {
  padding: 0 4% 1.6em;
}

ol,
ul {
  counter-reset: ol-counter;
  list-style: none;
  overflow: hidden;
  padding-left: 1.6em;
}

article li {
  position: relative;
}

article ol li::before {
  color: #ffc5a1;
  content: counter(ol-counter);
  counter-increment: ol-counter;
  display: block;
  font-weight: bold;
  position: absolute;
  left: -1.6em;
}

article ul li::before {
  color: #ffc5a1;
  content: '•';
  display: block;
  position: absolute;
  top: -.05em;
  left: -1.6em;
}

h1 {
  font-size: 2em;
  margin-top: 1.6em;
}

h2 {
  font-size: 1.25em;
  line-height: 1.28;
  margin-top: 2.56em;
}

hr {
  border: none;
  margin-bottom: 1.6em;
  text-align: center;
}

hr::after {
  color: #ffc5a1;
  content: '￭';
  margin: 0 auto;
}

abbr {
  border-bottom: 1px dotted;
  cursor: help;
  text-decoration: none;
}

address {
  font-style: normal;
  order: 1;
}

address a,
time {
  color: #999;
  font-size: .8em;
  line-height: 2;
}

address li {
  margin: 0;
  text-transform: lowercase;
}

address li + li::before {
  color: #999;
}

blockquote {
  padding: 0 1.6em;
}

blockquote p:nth-last-child(n+2) {
  font-style: italic;
}

figcaption,
pre {
  font-size: .75rem;
  line-height: 2.133;
  padding: 1.0667em;
}

svg {
  display: block;
}

img {
  max-width: 100%;
}

figure img {
  display: block;
}

figcaption {
  font-family: sans-serif;
  margin: 0;
}

aside {
  border-left: 4px solid currentColor;
  color: hsl(0, 0%, 60%);
  padding-left: 1.6em;
}

nav {
  font-weight: bold;
  padding-top: 1.6em;
}

.demo {
  all: initial;
  display: block;
}

.writing {
  display: grid;
  grid-gap: 1.6em;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
  margin-top: 3.2em;
}

.writing > * {
  margin: 0;
}

* + time {
  display: block;
  margin: 0;
}

@supports(display: grid) {
  article {
    display: grid;
    grid-template-columns: [main-start full-start] minmax(0, 45ch) [main-end] minmax(0, 1fr) [full-end];
    max-width: 100%;
  }

  article > * {
    grid-column: main;
  }

  pre,
  .full {
    grid-column: full;
  }
}

@media(min-width: 600px) {
  address {
    margin: 0;
    order: initial;
  }
  address li {
    float: left;
  }
  address li + li::before {
    content: '·';
    padding: .8em;
  }
  hr {
    text-align: left;
  }
}
