:root {
  --ratio: 1.75;
  --scale: 1.25;

  --s-1: calc(var(--s0) / var(--scale));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--scale));
  --s2: calc(var(--s1) * var(--scale));
  --s3: calc(var(--s2) * var(--scale));
  --s4: calc(var(--s3) * var(--scale));

  --g1: calc(1rem * var(--ratio));
  --g2: calc(2rem * var(--ratio));
  --g3: calc(3rem * var(--ratio));
  --g4: calc(4rem * var(--ratio));
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  color: #666;
  font-family: georgia, serif;
  font-size: calc(100% + .2vw);
  line-height: var(--ratio);
  -webkit-text-size-adjust: 100%;
}

* + * {
  margin-top: var(--g1);
}

body,
article li {
  margin-top: 0;
}

body > * {
  margin: 0 auto;
}

main {
  display: flex;
  flex-wrap: wrap;
}

main header {
  background-color: #fafafa;
  flex-grow: 1;
}

main h1 {
  color: #999;
  font-size: var(--s-1);
  margin: var(--g4) var(--g2) var(--g1) calc(var(--g2) + 5vw);
  max-width: 30ch;
}

main h1 a {
  color: #ffb2a4;
}

main section  {
  border-left: 1px solid #ccc;
  flex-basis: 0;
  flex-grow: 999;
  margin: 0 0 0 calc(var(--g1) + 1vw);
  min-width: calc(61.8% - var(--g3) - 5vw);
  padding: var(--g4) var(--g1) var(--g4) calc(var(--g1) + 4vw);
}

main section h2 {
  display: inline-block;
  font-size: var(--s-1);
  letter-spacing: .2em;
  margin: 0;
  position: absolute;
  text-transform: uppercase;
  transform: translateX(calc(-100% - var(--g2) - 4vw)) rotate(-90deg);
  transform-origin: top right;
}

main section li:first-child {
  margin-bottom: var(--g2);
}

main section li:first-child h3 {
  font-size: var(--s2);
}

main section li:first-child h3::before {
  background-color: #ff7e67;
  content: '';
  display: block;
  position: absolute;
  transform: translate(calc(-25% - var(--g1) - 4vw), calc(var(--ratio) * 0.5em));
  width: var(--s0);
  height: .05em;
}

main section li:first-child p {
  max-width: 45ch;
}

main section li:nth-child(n+2) {
  color: #999;
}

main ul {
  margin: 0;
  padding: 0;
}

a {
  color: #ff7e67;
  border-bottom: 1px solid currentColor;
  font-weight: bold;
  text-decoration: none;
  transition: color .5s;
}

a:hover {
  border: none;
  color: #000;
}

h1 a,
h2 a,
h3 a,
h4 a {
  border: none;
  color: inherit;
  font-weight: inherit;
}

h3 a:hover,
h4 a:hover {
  color: #ff7e67;
}

article {
  margin: 0 auto;
  max-width: 45ch;
}

del {
  color: #ccc;
}

ins {
  text-decoration: none;
}

ol,
ul {
  counter-reset: ol-counter;
  list-style: none;
  overflow: hidden;
  padding-left: 1.6em;
}

article li {
  position: relative;
}

article ol li::before {
  color: #ffc5a1;
  content: counter(ol-counter);
  counter-increment: ol-counter;
  display: block;
  font-weight: bold;
  position: absolute;
  left: -1.6em;
}

article ul li::before {
  color: #ffc5a1;
  content: '•';
  display: block;
  position: absolute;
  top: -.05em;
  left: -1.6em;
}


h1,
h2,
h3,
h4 {
  font-weight: normal;
  max-width: 45ch;
}

h1 {
  font-size: var(--s4);
}

h2 {
  font-size: var(--s3);
}

h3 {
  font-size: var(--s2);
}

h4 {
  font-size: var(--s1);
}

hr {
  border: none;
  margin-bottom: 1.6em;
  text-align: center;
}

hr::after {
  color: #ffc5a1;
  content: '￭';
  margin: 0 auto;
}

abbr {
  border-bottom: 1px dotted;
  cursor: help;
  text-decoration: none;
}

address {
  font-style: normal;
  order: 1;
}

address a,
time {
  color: #ccc;
  font-size: var(--s-1);
}

address li {
  margin: 0;
  text-transform: lowercase;
}

address li + li::before {
  color: #999;
}

blockquote {
  padding: 0 1.6em;
}

blockquote p:nth-last-child(n+2) {
  font-style: italic;
}

figcaption,
pre {
  font-size: .75rem;
  line-height: 2.133;
  padding: 1.0667em;
}

svg {
  display: block;
}

img {
  max-width: 100%;
}

figure img {
  display: block;
}

figcaption {
  font-family: sans-serif;
  margin: 0;
}

aside {
  border-left: 4px solid currentColor;
  color: hsl(0, 0%, 60%);
  padding-left: 1.6em;
}

nav {
  font-weight: bold;
  padding-top: 1.6em;
}

.demo {
  all: initial;
  display: block;
}

* + time {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  margin: 0;
}

@supports(display: grid) {
  article {
    display: grid;
    grid-template-columns: [main-start full-start] minmax(0, 45ch) [main-end] minmax(0, 1fr) [full-end];
    max-width: 100%;
  }

  article > * {
    grid-column: main;
  }

  pre,
  .full {
    grid-column: full;
  }
}

@media(min-width: 600px) {
  address {
    margin: 0;
    order: initial;
  }
  address li {
    float: left;
  }
  address li + li::before {
    content: '·';
    padding: .8em;
  }
  hr {
    text-align: left;
  }
}
