---
import site from '../data/site.js';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <main>
    <header>
      <h1>{site.title}</h1>
    </header>
    <p>I am a computer scientist working as an infrastructure and automation engineer at <a href="https://eyeo.com">eyeo</a> in Cologne, Germany.</p>
    <p>I am currently reworking this website. For now, it’s gonna be a micro blog. <a href="/blogging/">Check it out!</a></p>
    <h2>Contact</h2>
    <ul>
      <li><a href={`mailto:${site.email}`} rel="me">Email</a> (<a href="https://keybase.io/stephanmax/pgp_keys.asc?fingerprint=c39b112b14c13ff673a30963a1cd0f9a894601f3" rel="me">public key</a>)</li>
      <li><a href="https://twitter.com/betterThanMin" rel="me">Twitter</a></li>
      <li><a href="https://github.com/stephanmax" rel="me">Github</a></li>
    </ul>
  </main>
</BaseLayout>
