  <script>
    if (navigator.serviceWorker) {
      navigator.serviceWorker.register('/service-worker.js');

      if (navigator.serviceWorker.controller) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.controller.postMessage('trimCaches');
        });
      }
    }
  </script>
</body>

</html>
