<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <%
    const {title} = locals;
  %>

  <title>
    <%= title ? `${title} | Stephan Max` : 'Stephan Max, software engineer' %>
  </title>

  <meta name="author" content="<%= site.author %>">
  <meta name="description" content="<%= site.description %>">

  <link rel="alternate" type="application/rss+xml" title="Stephan Max’ RSS Feed" href="<%= site.rssPath %>">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
