<%- include('partials/top.ejs') %>

<main>
  <header>
    <h1>Stephan Max</h1>
  </header>

  <h2>It looks like you are offline</h2>
  <p>This page has not been saved for offline reading yet. The following pages are available offline, though:</p>

  <ul id="history"></ul>
</main>

<script>
  caches.open('dynamicfiles').then(cache => {
    cache.keys().then(keys => {
      let markup = '';
      
      keys.filter(
        request => request.url.includes('/writing/2')
      ).forEach(
        request => markup += `<li><a href="${request.url}">${request.url}</a></li>`
      );

      document.getElementById('history').innerHTML = markup;
    });
  });
</script>

<%- include('partials/bottom.ejs') %>
