<% if (location.base === location.current) { %>
  in <a href="/in.html"><%= location.current %></a>
<% } else { %>
  <del>in <%= location.base %></del>
  <ins>currently in <a href="/in.html"><%= location.current %></a></ins>
<% } %>
