<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">

  <title>
    <% if (title) { %>
      <%= title %> |
    <% } %>
    <%= site.author %>
  </title>

  <meta name="author" content="<%= site.author %>">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/main.css" inline>
</head>
<body>
