---
import BaseLayout from './BaseLayout.astro';
import BlogItem from '../components/BlogItem.astro';

const post = Astro.props.content;
const { pathname } = Astro.request.url;
---

<BaseLayout>
  <h1><a href="/">Stephan Max</a></h1>
  <BlogItem post={post} path={pathname} showHeading={true}>
    <slot />
  </BlogItem>
</BaseLayout>
